@font-face {
    font-family: 'Nexa';
    src: local('Nexa Light'), local('NexaLight'), url('/fonts/nexalight.woff2') format('woff2'), url('/fonts/nexalight.woff') format('woff'), url('/fonts/nexalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: local('Nexa Bold'), local('NexaBold'), url('/fonts/nexabold.woff2') format('woff2'), url('/fonts/nexabold.woff') format('woff'), url('/fonts/nexabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}